@media screen and (max-width: 768px){

    :root {
        --rojo: #FF5639; /* Definimos la variable */
        --gris: #D8D7D7;
        --negro: #252525;
        --grisTexto: #5f5f5f;
        --seccion: #f3f3f3;
    }

    .ancho{
        margin: auto;
        max-width: 768px;
    }

    .info {
        position: absolute;
        top: 70px; /* Ajusta según la posición del ícono */
        right: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 8px;
        z-index: 1000;
        opacity: 0; /* Invisible */
        visibility: hidden; /* Oculta interacciones */
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      }
      
      .info.active {
        opacity: 1; /* Visible */
        visibility: visible; /* Habilita interacciones */
      }

    .correo{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .info h3{
        font-weight: 600;
        font-size: 14px;
    }
    
    .info-tablet{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .cabecera a{
        padding: 5px;
        display: inline-block;
    }

    header{
        border-bottom: none;
    }

    .cabecera{
        height: 70px;
        padding: 5px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera i{
        color: var(--negro);
        font-size: 24px;
    }
    
    figure{
        display: flex;
        width: 30%;
        height: 60%;
        gap: 20px;
    }
    
    figure figcaption{
        display: block;
    }
    figure img{
        width: 80%;
    }

    .busqueda-tablet {
        display: block;
        position: absolute;
        top: 70px; /* Ajusta según la posición del ícono */
        right: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 5px;
        border-radius: none;
        z-index: 20;
        opacity: 0; /* Invisible */
        visibility: hidden; /* Evita interacciones */
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        text-align: center;
        height: 50px;
      }
      
      .busqueda-tablet.active {
        opacity: 1; /* Visible */
        visibility: visible; /* Permite interacciones */
      }
    
      .cont_input{
        width: 100%;
        height: 90%;
        position: relative;
      }
    
      .cont_input input{
        width: 100%;
        height: 100%;
        border: 1px var(--gris) solid;
      }
    
      .cont_input i{
        color: var(--gris);
      }
    
      .icono_buscar{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        font-size: 24px;
      }

      .navegacion {
        position: absolute; /* Hace que el nav sea sticky */
        top: 70px; /* Se pegará a la parte superior */
        z-index: 1000; /* Asegura que esté encima de otros elementos */
        left:-120%;
        transition: all 0.5s linear;
        width: 40%;
        height: 90vh;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .barra{
      width: 100%;
      display: flex;
      flex-direction: none;
    }
    .menu {
      display: flex;
      width: 100%;
    }
  
    .barra ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    
    .barra li {
      position: relative;
    }
    
    .barra li a {
      display: block;
      padding: 18px 25px;
      text-decoration: none;
      color: var(--negro);
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      border-right: 1px var(--gris) solid;
      margin-bottom: 5px;
    }
  
    .barra .borde-izq{
      border-left: 1px var(--gris) solid;
    }
    
    .barra li a:hover {
      background-color: var(--rojo);
    }

    .menu .busqueda{
      display: none;
    }

    .abrir_menu{
      /* top: 70px; */
      left: 0;
      z-index: 50;
  }

  .slider {
    width: 100%;
    height: 50vh; 
    overflow: hidden; 
    position: relative;
  }

  .direccion_container {
    /* margin-bottom: 50px; */
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    }

    .forma {
      position: absolute; /* Posiciona la figura dentro de la sección */
      top: 0;
      right: 0;
      width: 100%; /* Toma el ancho completo del contenedor */
      height: 100%; /* Toma el alto completo del contenedor */
      background-color: #f8714885; /* Color de fondo con opacidad para ilustración */
      /* clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%); */
      clip-path: none;
      z-index: 10; /* Asegura que esté detrás del contenido de la sección */
  }

  .extra-content {
    width: 70%;
    height: 30%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 11;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    display: none; /* Oculta inicialmente */
    text-align: center;
    display: flex;
    align-items: center;
}

.extra-content p{
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.cont_servicios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.acordeon_float{
  position: relative;
  height: 250px;
}
.servicio{
  width: 45%;
  overflow: hidden;
}
.servicio figure{
  width: 100%;
  height: 250px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.servicio figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: transform 0.4s ease-in-out; */
  transform: scale(1.25);
  filter: grayscale(100%) brightness(70%);
}

.servicio figure img:hover {
  display: none;
}

.parallax {
  height: 350px;
}
.puntos{
  text-align: center;
  padding: 20px 20px;
  width: 85%;
}

.puntos h1{
  font-size: 42px;
  line-height: 1;
  margin-bottom: 20px;
}

/* CSS PARA EL LIGHTBOX */
.gallery {
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px 45px;
}

.gallery a {
  display: block;
  width: 45%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.gallery img {
  height: 100%;
  border-radius: 5px;
  /* transition: transform 0.4s ease-in-out; */
  transform: scale(1.25);
  filter: grayscale(60%) brightness(90%);
}

.icono {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.mapa{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapa h1{
  text-align: center;
  width: 60%;
  font-size: 24px;
  color: var(--negro);
  border-bottom: 2px var(--rojo) solid;
}

.contacto{
  padding: 20px;
  width: 45%;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario {
  width: 45%;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

}